body{
    font-family: 'Inter', sans-serif;
    background-color: #E4FFF3;
    background-size: 40%;
    height: 100vh;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    position: relative;
}

.bush{
    position: absolute;
    width: 200px;
}
.small{
    width: 150px;
}

.bush:first-child{
    bottom: 30%;
    right: 25%;
}
.bush:nth-child(2){
    top: 45%;
    left: 5%;
}
.bush:nth-child(3){
    top: 35%;
    left: 40%;
}
.bush:nth-child(4){
    top: 10%;
    left: 20%;
}
.bush:nth-child(5){
    bottom: 10%;
    left: 25%;
    width: 250px;
    height: 135px;
    background-image: url("../images/bush_2.svg");
    background-size: 250px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.bush:nth-child(5):hover{
    width: 300px;
    height: 200px;
    background-image: url("../images/hover_bush.svg");
    background-size: 290px;
}
.bush:last-child{
    top: 15%;
    right: 10%;
    width: 250px;
}

#grass-tuft{
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100px;
    bottom: 4%;
    right: 2%;
    background-image: url("../images/egg.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: bottom;
}
#grass-tuft:hover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}