@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-image: url("../images/pattern.svg");
    background-color: #E4FFF3;
    background-repeat: repeat;
    background-size: 40%;
    height: 100vh;
    overflow: hidden;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}

h1,h2{
    margin: 0;
}

h2{
    margin-bottom: 2rem;
}

#diagonal{
    position: absolute;
    inset: 0;
    width: 800px;
    height: 500%;
    margin: auto;
    background: #ffffff;
    z-index: -1;
    transform: rotate(45deg);
}